body{background-color:gray;}

.content{

    background-color:#D7D7D7;
    height: 825px;}

#menu{

    font-size:18px;
    height: 75px;}

#Logo{line-height:55px;}


.colA{

    border:1px solid black;

}