{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Quiz</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}{% endblock %}

</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/quiz1.png' %}" width="190" height="55" class="d-inline-block align-top" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" id="Logo"href="#">QUIZ_MANIA <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Strona Główna<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kategorie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Najnowsze</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TOP 25</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Zarejestruj</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container content mt-1 mb-1">
    {% block title %}{% endblock %}
    <div class="row">
        <div class="col-12 col-md-9">
            {% block content %} {% endblock %}
        </div>
        <div class="col-6 col-md-3 ">Pasek Boczny</div>
    </div>
</div>


<div class="container-fluid">
    <nav class="navbar fixed-bottom navbar-dark bg-dark text-light "   >
        {% block footer %}Quizy XYZ - Wszelkie prawa zastrzeżone &copy 2019{% endblock %}
    </nav>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
{% block js %}{% endblock %}

</body>
</html>