{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Zaloguj się !</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button id="submit_login" class="btn btn-outline-info" type="submit">zaloguj</button>
            <small class="text-muted ml-2">
                <a href="{% url 'password_reset' %}"> Zapomniałeś hasła ?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Nie masz konta ? To nie problem ! <a class="ml-2" href="{% url 'register_profile' %}">Zarejestruj się</a>
        </small>
    </div>
</div>
{% endblock content %}