{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Stwórz swój własny Quiz</h1>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Stwórz swój własny Quiz</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">

            <button id="add-question" class="btn btn-outline-info" name="next" type="submit">Dodaj pytanie</button>
            <a class="btn btn-outline-info" href="{% url 'quizApp-home' %}" >Strona główna</a>

        </div>
    </form>

</div>
{% endblock %}

